[submodule ".vim/pack/bundle/start/vim-colors-solarized"]
	path = .vim/pack/bundle/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/bundle/start/ctrlp"]
	path = .vim/pack/bundle/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/bundle/start/delimitMate"]
	path = .vim/pack/bundle/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule ".vim/pack/bundle/start/tabline"]
	path = .vim/pack/bundle/start/tabline
	url = git@github.com:mkitt/tabline.vim.git
[submodule ".vim/pack/bundle/start/tagbar"]
	path = .vim/pack/bundle/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/pack/bundle/start/vim-airline-themes"]
	path = .vim/pack/bundle/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/pack/bundle/start/vim-airline"]
	path = .vim/pack/bundle/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/pack/bundle/start/vim-bufferline"]
	path = .vim/pack/bundle/start/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule ".vim/pack/bundle/start/vim-signify"]
	path = .vim/pack/bundle/start/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule ".vim/pack/bundle/start/vim-startify"]
	path = .vim/pack/bundle/start/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule ".vim/pack/bundle/start/vim-mustache-handlebars"]
	path = .vim/pack/bundle/start/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule ".vim/pack/bundle/start/tcomment_vim"]
	path = .vim/pack/bundle/start/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule ".vim/pack/bundle/start/nerdtree"]
	path = .vim/pack/bundle/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/bundle/start/YouCompleteMe"]
	path = .vim/pack/bundle/start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
